<input type="text" [(ngModel)]="title">
<br>

<!-- #region Uso de ngIf -->
<br>
<div *ngIf="title === 'nicolas'" >
    La variable es {{ title }}
</div>
<br>
<div *ngIf="title === 'julian'" >
    La variable es {{ title }}
</div>
<br>
<div *ngIf="title === 'camilo'" >
    La variable es {{ title }}
</div>
<!-- #endregion Uso de ngIf -->

<!-- #region Uso de ngSwitch -->
<div [ngSwitch]="title">
    <p *ngSwitchCase="'nicolas'">La variable es {{ title }}</p>
    <p *ngSwitchCase="'julian'">La variable es {{ title }}</p>
    <p *ngSwitchCase="'camilo'">La variable es {{ title }}</p>
    <p *ngSwitchDefault>No hay elementos</p>
</div>
<!-- #endregion Uso de ngSwitch -->

<br>
<button (click)="addItem()">Add Item</button>
<br>
<ul>
    <li *ngIf="items.length ===0">La lista esta vacia</li>
    <!-- iteracion por elemento
    let name of items -->
    <!-- iteracion por el index
    index as i -->
    <li *ngFor="let name of items; index as i">
        {{ name }} {{ i }}
        <button (click)="deleteItem(i)">Delete</button>
    </li>
</ul>

<div *ngFor="let product of products">
    {{ product.title }}
    <img [src]="product.image" alt="">
    {{ product.price }}
</div>