Aqui se usa el databinding
<br>
<input type="text" [(ngModel)]="title">

<!-- #region Uso de ngIf -->
<div *ngIf="title === 'nicolas'" >
    La variable es {{ title }}
</div>
<div *ngIf="title === 'julian'" >
    La variable es {{ title }}
</div>
<div *ngIf="title === 'camilo'" >
    La variable es {{ title }}
</div>
<!-- #endregion Uso de ngIf -->

<!-- #region Uso de ngSwitch -->
<div [ngSwitch]="title">
    <p *ngSwitchCase="'nicolas'">La variable es {{ title }}</p>
    <p *ngSwitchCase="'julian'">La variable es {{ title }}</p>
    <p *ngSwitchCase="'camilo'">La variable es {{ title }}</p>
    <p *ngSwitchDefault>No hay elementos</p>
</div>
<!-- #endregion Uso de ngSwitch -->

<br>
<!-- Aqui se usa el pipe personalizado exponential -->
Aqui se usa el pipe personalizado exponential
<br><input type="text" [(ngModel)]="power">
{{ power | exponential }}

<br>
<br>
<br>
<button (click)="addItem()">Add Item</button>
<br>
<ul>
    <li *ngIf="items.length ===0">La lista esta vacia</li>
    <!-- iteracion por elemento
    let name of items -->
    <!-- iteracion por el index
    index as i -->
    <li *ngFor="let name of items; index as i">
        {{ name }} {{ i }}
        <button (click)="deleteItem(i)">Delete</button>
    </li>
</ul>

<div class="product-grid">
    <app-product 
        *ngFor="let product of products" 
        (productAddCart)="productAddCart($event)" 
        [product]="product">
    </app-product>
</div>
